.form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    /* box-shadow: ; */
    width: 100%;
    max-width: 280px;
}

.form__close{
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    color: #f55742;
    transition: transform 100ms ease;

}

.form__close:hover{
    transform: scale(1.1);
    transition: transform 100ms ease;
}
.form__div{
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin-bottom: 15px;


}
.form__label{
    font-size: 14px;
    font-weight: 700;
    color: #525151 ;
}

.form__input{
    padding: 7px 15px;
    background-color: #F9FAFC;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 300;
}
.form__input::placeholder{
    color:#bcbcbc ;
}

.form__btn{
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    background-color: #505685;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
    /* filter: brightness(0.2); */
    transition: filter 100s ease;
}

.form__btn:hover{
    filter: brightness(1.7);
    transition: filter 100ms ease;
    /* background-color: red; */
    /* color: red; */
   /* color: red; */
}

.form__input_disabled{
    padding: 7px 15px;
    background-color: #F9FAFC;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 300;
}

.form__input_disabled::placeholder{
    color:#525151 ;
    font-weight: 700;
    text-align: center;
}

h2{
    text-align: center;
}