#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.header__users{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__users h1{
  font-size: 3rem;
}

.header__users button {
  
  padding: 0rem 2rem;
  height: 50px;
  background-color: rgba(71,73,104,240);
  color: #fff;
  font-size: 1.1rem;
  border: none;
}

.header__users button:hover {
  transform: scale(1.02);
    filter: brightness(1.5);
    transition: filter 100ms ease;
}


.content_card{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  justify-content: center;
}
.card__user{
  width: 300px;
  border: 1px gray solid;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card__user hr{
  color: gray;
  height: 1px;
  background-color: gray;
}

.card__user h2{
  text-align: center;
}

.card__user p span{
  display: block;
  color: gray;
  font-weight: 700;
}

.card__buttons{
  text-align: end;
}

.card__buttons a{
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  
}

.card__buttons i{
  font-size: 1.5rem;
}


.card__buttons a:nth-child(1){
  color: #fff;
  background-color: red;
  border: 2px red solid;
}

.card__buttons a:nth-child(1):hover{
  transform: scale(1.1);
  transition: filter 100ms ease;
  background-color: #fff;
  color: red;
}

.card__buttons a:nth-child(2){
  color: gray;
  border: 2px gray solid;
}

.card__buttons a:nth-child(2):hover{
  transform: scale(1.1);
  transition: filter 100ms ease;
  background-color: gray;
  color: #fff;
}


.form-container{
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(2px);
  background-color: #0003;
  position: fixed;
  top: 0px;
  left: 0px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.disable__form{
  display: none;
}


.pagination{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 100ms ease;

}

.pagination li a{
  cursor: pointer;
  font-weight: 700;
}

.pagination li:hover{
  transform: scale(1.1);
  transition: transform 100ms ease;
}


